<div class="wrapper">
  <div>
    <div class="banner" *ngIf="isWrongBrowser">
      <div class="bold icon"><img src="assets/warning.png" alt="warning sign"/>Warning</div>
      <div class="text">To utilize all of the features, you must use an Ethereum enabled browser such as <a href="https://brave.com" target="_blank"
        class="red">Brave</a> or a browser extension like <a href="https://metamask.io" target="_blank"
        class="red">MetaMask</a>.
      </div>
    </div>

    <div class="banner" *ngIf="!(this.middleware.ethereumEnabled$ | async)">
      <div class="bold icon"><img src="assets/warning.png"/>Warning</div>
      <div class="text">To utilize all of the features, you must allow Ethereum account access. <span class="pointer red nobreak" (click)="enableEthereumReprompt()">Prompt for account access.</span>
      </div>
    </div>

    <div class="banner" *ngIf="isNotConnected">
      <div class="bold icon"><img src="assets/warning.png" alt="warning sign"/>Timeout</div>
      <div class="text">Please connect your browser to the Etherium network.</div>
    </div>
  </div>

  <div style="display: flex">
    <div class="outer-grid">
      <h1 class="header">Open a Leveraged ETH position</h1>

      <div class="left-main inner-grid">
        <app-input-quantity class="input-quantity" [maxValue]="maxQuantity" (value$)="quantityEmitter$.emit($event)"></app-input-quantity>
        <app-input-leverage class="input-leverage" (value$)="leverageEmitter$.emit($event)"></app-input-leverage>
        <app-input-fee class="input-cost" [exchangeCostRangeLimits$]="exchangeCostRangeLimits$" [leverage$]="leverage$" [quantity$]="quantity$" (value$)="exchangeCostEmitter$.emit($event)"></app-input-fee>
      </div>

      <div class="right-main">
        <app-info-panel
          [leverage$]="leverage$"
          [quantity$]="quantity$"
          [price$]="price$"
        ></app-info-panel>
      </div>

      <app-confirm-panel class='confirm-panel'
        [totalPrice]="totalPrice$ | async"
        [leverageAmount]="quantity$ | async"
        [exchangeCost]="exchangeCost$ | async"
        [serviceFee]="serviceFee$ | async"
        [confirm$]="confirm$"
        (submit$)="onSubmit()"></app-confirm-panel>

      <div class="footer">Have questions? <a href="https://help.keydonix.com" class="yellow">Get answers</a></div>
    </div>
  </div>
</div>
