.nobreak {
  white-space: nowrap;
}

.warning {
  text-align: center;
  font-size: 27px;
  color: white;
  font-family: 'Lato', sans-serif;
  background-color: #063143;
  .inner {
    display: grid;
    grid-template-columns: max-content auto;
    .icon {
      margin: 10px;
      align-self: center;
    }
    .text {
      margin: 10px;
    }
  }

  img {
    width: 48px;
    height: 38px;
    margin-right: 10px;
    vertical-align: middle;
  }
}

.pointer {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 50% auto;
}

.left-main {
  text-align: left;
  margin-right: 6%;
}

.right-main {
  position: relative;
  background-color: #00192b;
  border-radius: 8px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 2px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.row {
  margin-bottom: 17%;
  position: relative;
}

.row + .row + .row {
  margin-bottom: 0
}

.debugWindow {
  display: block;
  position: absolute;
  top: 60px;
  left: 3px;
  color: white;
  background-color: #4f95e5;

  p {
    margin: 0
  }

  h4 {
    margin: 0;
    font-weight: bold;
  }

  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 2px 0 rgba(0, 0, 0, 0.19);
}


@media only screen and (max-width: 500px) {

  .container {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .left-main {
    margin-right: 0
  }

  .row + .row + .row {
    margin-bottom: 40px;
  }
  .warning {
    font-size: 18px;

    .inner {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
    }

  }

}
