.range-wrapper {
  .slider-wrapper {
    position: relative;
    height: 36px;
    .range-background {
      position: absolute;
      top: 0;
      left: 0;
      margin: 3px;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      background: linear-gradient(to right, #4f95e5 0%, #3cc2b1 100%);
      background-origin: padding-box;
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
      z-index: -1;
    }
    input[type=range] {
      -webkit-appearance: none;
      background-color: transparent;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
    }
    input[type=range]::-webkit-slider-runnable-track {
      height: 100%;
    }
    input[type=range]::-moz-range-track {
      background: none;
    }
    input[type=range]::-ms-track {
      height: 100%;
      background: none;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      height: 100%;
      background: none;
    }
    input[type=range]::-ms-fill-lower {
      height: 100%;
      background: none;
    }
    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      box-shadow: 0 1px 1px rgba(50, 50, 50, 0.91), 1px 0 1px rgba(50, 50, 50, 0.91);
      border: none;
      height: 100%;
      width: 8px;
      border-radius: 2px;
      background: #ffffff;
    cursor: -webkit-grab;
    }
    input[type=range]::-moz-range-thumb {
      box-shadow: 0 1px 1px rgba(50, 50, 50, 0.91), 1px 0 1px rgba(50, 50, 50, 0.91);
      border: none;
      height: 100%;
      width: 8px;
      border-radius: 2px;
      background: #ffffff;
      cursor: -moz-grab;
    }
    input[type=range]::-ms-thumb {
      box-shadow: 0 1px 1px rgba(50, 50, 50, 0.91), 1px 0 1px rgba(50, 50, 50, 0.91);
      border: none;
      // FIXME: figure out how to make Edge work with 100% height instead of hard-coded 36px
      height: 36px;
      width: 8px;
      border-radius: 2px;
      background: #ffffff;
      cursor: pointer;
    }
  }
  .legend {
    text-align: center;
    font-weight: lighter;
    font-size: 10pt;
  }
}

.tooltip {
  bottom: 45px;
  i {
    left: calc(100% - 17px);
  }
}
