<div class="prices">
  <div class="first">
    <div>Current ETH Price</div>
    <div class="price">
      {{price$ | async | currency}}
    </div>
  </div>
  <div>
    <div>Liquidation Price</div>
    <div class="price red">
      {{liquidationPrice$ | async | currency}}
    </div>
  </div>
  <div>
    <div>Current Portfolio Value</div>
    <div class="price">
      {{portfolioValue$ | async | currency}}
    </div>
  </div>
</div>

<hr />
<button class="collapsible" (click)="clickMoreDetails()" [class.hidden]="isShowDetails">More Details
  <span class="material-icons">keyboard_arrow_down</span>
</button>
<div class="expand" [hidden]="isHideDetails">
  <div class="descriptions" [style.visibility]="!(leverage$ | async) ? 'hidden' : ''">
    <div class="left">
      <p><img src="assets/line-green-white.png" width="30" height="6" /></p>
      <p><img src="assets/line-dashed.png" width="30" height="3" /></p>
      <p><img src="assets/line-dashed-small.png" width="30" height="3" /></p>
      <p><img src="assets/line-red-white.png" width="30" height="6" /></p>
    </div>
    <div class="right">
      <p>Price to gain 100% of your money</p>
      <p>Price to gain 50% of your money</p>
      <p>Price to gain 0% of your money</p>
      <p style="white-space: pre-line">Liquidation price<br />
        • lose {{maxLossPercentage$ | async | percent}} if you close your position voluntarily<br />
        • lose {{liquidationLossPercentage$ | async | percent}} if your position is forcefully closed</p>
    </div>
    <hr />
  </div>

  <div class="gradient-wrapper">
    <div class="txt">{{priceToGain100$ | async | currency}}</div>
    <div class="gradient" (pointerleave)="mouseLeaveChart()" (pointerenter)="mouseEnterChart()" #gradient>
      <div class="line gain50" [class.hidden]="!(leverage$ | async)" #dashedLine>
        <div class="txt bottom">{{priceToGain50$ | async | currency}}</div>
      </div>
      <div class="line current" [class.hidden]="!(leverage$ | async)" #dottedLine>
        <div class="txt bottom">{{priceToGain0$ | async | currency}}</div>
      </div>
      <div class="line liquidation" [class.hidden]="!(leverage$ | async)">
        <div class="txt bottom" #bottomLineText>{{liquidationPrice$ | async | currency}}</div>
      </div>
      <div class="at-cursor" [class.hidden]="!isMouseInChart || !(leverage$ | async)" #priceLine>
      </div>
    </div>
  </div>
  <div class="bighint shadow" [class.hidden]="!isMouseInChart || !(leverage$ | async)" style="top: -200px" #toolTipBox>
    <div>
      <span>Price</span>
      <span class="right" #toolTipPrice> {{priceAtCursor$ | async | currency}}</span>
    </div>
    <div>
      <span>Position Value:</span>
      <span class="right" #toolTipPortfolioValue> {{portfolioValueAtCursor$ | async | currency}}</span>
    </div>
    <i></i>
  </div>
</div>
<div class="closebutton" (click)="clickMoreDetails()" [class.hidden]="isHideDetails">Close details <span class="material-icons">
    keyboard_arrow_up
  </span></div>
