.prices {
  padding: 10px;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, 1fr));
  grid-template-rows: max-content 1fr;
  grid-gap: 5px;
  font-size: 9px;
  text-transform: uppercase;
  .red {
    color: #fc5e59;
  }
  .price {
    font-size: 24px;
    height: 32px;
  }
  .current.title {
    grid-column: 1;
    grid-row: 1;
  }
  .liquidation.title {
    grid-column: 2;
    grid-row: 1;
  }
  .position.title {
    grid-column: 3;
    grid-row: 1;
  }
  .current.price {
    grid-column: 1;
    grid-row: 2;
  }
  .liquidation.price {
    grid-column: 2;
    grid-row: 2;
  }
  .position.price {
    grid-column: 3;
    grid-row: 2;
  }
}

.collapsible {
  display: none;
}

.expand {
  position: relative;

  .legend {
    text-align: left;
    padding: 0px 10px;
    font-size: 12px;
    font-weight: 100;
    line-height: 22px;
    clear: both;
    height: 100%;

    .left {
      width: 12%;
    }

    .right {
      width: 83%;
      padding-right: 5%;
    }

    .material-icons {
      font-size: 16px;
      display: block;
    }

    p {
      margin: 0;
    }
  }

  .gradient-wrapper {
    text-align: left;
    margin-top: 5px;
    font-weight: 300;
    user-select: none;

    .txt {
      padding-left: 14px;
      font-size: 15px;
      height: 25px;
    }

    .gradient {
      background: linear-gradient(to bottom, #42931d, #fc5e59);
      height: 373px;
      border-top: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      padding-bottom: 2px;
      overflow: hidden;
      position: relative;
      display: grid;
      grid-template-rows: max-content 1fr;

      .line {
        display: flex;
        align-items: flex-end;
      }

      .line.current {
        border-bottom: 2px solid #ffffff;
      }

      .at-cursor {
        position: absolute;
        border-bottom: 1px solid #ffffff;
        height: 1px;
        width: 100%;
      }
    }
  }

  .bighint {
    left: 100px;
    width: 160px;
    height: 46px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 10pt;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    position: absolute;
    color: #474747;

    div {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      background-color: white;
    }

    div + div {
      font-size: 14px;
      font-weight: 300;
    }

    i {
      position: absolute;
      top: 99%;
      left: 12%;
      width: 25px;
      height: 15px;
      overflow: hidden;
    }

    i::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: #ffffff;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    }
  }

}

.expand.hidden {
  display: block;
}

@media only screen and (max-width: 830px) {
  .prices {
    font-size: 12px;
    grid-template-columns: 1fr max-content;
    grid-template-rows: repeat(3 1fr);
    text-align: left;

    .current.title {
      grid-column: 1;
      grid-row: 1;
    }
    .liquidation.title {
      grid-column: 1;
      grid-row: 2;
    }
    .position.title {
      grid-column: 1;
      grid-row: 3;
    }
    .current.price {
      grid-column: 2;
      grid-row: 1;
    }
    .liquidation.price {
      grid-column: 2;
      grid-row: 2;
    }
    .position.price {
      grid-column: 2;
      grid-row: 3;
    }
    .price {
      text-align: right;
      font-size: 18px;
    }
  }

  .expand {
    padding: 0 14px;

    .legend {
      margin: 0;
      font-size: 12px;
      line-height: 16px;

      p {
        line-height: 20px;
        color: #D8D8D8;
      }

      .left {
        width: 20%;
      }

      .right {
        width: 75%;
      }
    }

    .gradient-wrapper {
      font-size: 15px;
    }

    .bighint {
      left: 50px;
    }
  }

  .expand.hidden, .collapsible.hidden, .closebutton.hidden {
    display: none;
  }

  /* Style the button that is used to open and close the collapsible content */
  .collapsible, .closebutton {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 12px;
    text-align: center;

    .material-icons {
      vertical-align: middle;
      font-size: 30px;
    }
  }

  .collapsible {
    border-top: 3px solid #000;
  }
}
