<h4 class="input-label">How much ETH would you like to leverage?</h4>

<div class="inputbox">
  <input type="number"
         [ngModel]="numberValue" (ngModelChange)="setValue($event)"
         [min]="minValue"
         [max]="maxValue$ | async"
         [step]="minValue"
         class="input"
         placeholder="Between {{minValue}} and {{maxValue$ | async}}"
  />
  <span class="input-suffix yellow bigger bold">ETH</span>
  <span class="input-suffix material-icons cursorPointer tooltip-button" (click)="toggleTooltip($event)">help</span>
</div>

<div class="validation-error" [style.visibility]="(numberValue < minValue || numberValue > (maxValue$ | async)) ? 'visible' : 'hidden'">
  <span>Between {{minValue}} and {{maxValue$ | async}}</span>
</div>


<div class="tooltip shadow" outsideClickable (clickOutside)="clickedOutside($event)" *ngIf="isTooltipVisible">
  How much ETH do you want to lock-up in this <a target="_blank" rel="noopener nofollow" href="http://help.keydonix.com/articles/27731-how-can-i-leverage-more-eth-than-the-tool-allows">position</a> at the target leverage?
  <i></i>
</div>
