<div class="wrapper lato">
  <div>
    <img src="assets/icon-sad.png"/>
    <p class="header">Something <span class="nobreak">went wrong!</span></p>
    <div style="display: flex">
      <ul>
        <li>
          <p><a class="yellow nobreak" href="javascript:history.go(-1)">Try again</a></p>
        </li>
        <li>
          <p><a class="yellow nobreak" target="_blank" rel="noopener nofollow" href="https://help.keydonix.com/articles/27730-why-did-my-transaction-fail">Common causes</a></p>
        </li>
        <li>
          <p><a class="yellow nobreak" target="_blank" rel="noopener nofollow" href="https://help.keydonix.com/contact">Contact a human</a></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="padding-top roboto footer">Have questions? <a class="yellow nobreak" target="_blank" rel="noopener nofollow" href="https://help.keydonix.com">Get answers</a></div>
</div>
