.wrapper {
  margin-top: 240px;
  color: white;
  text-align: center;

  .header {
    font-size: 48px;
    margin: 20px 0px;
  }
  img {
    margin-bottom: 20px;
  }
  img + p {
    font-weight: normal;
  }

  .footer {
    margin-bottom: 20px;
    font-size: 20px;
    .yellow {
      font-size: 20px;
    }
  }
  ul {
    margin: auto;
    width: fit-content;
    li {
      width: fit-content;
      p {
        width: auto;
        text-align: left;
        font-size: 32px;
      }
    }
  }
}


@media only screen and (max-width: 830px) {

  .wrapper {
    min-width: 260px;
    margin-top: 70px;
    padding: 5px;

    .header {
      font-size: 38px;
    }

    ul {
      list-style: none;
      > li {
        > p {
          font-size: 28px;
          margin: 5px;
        }
      }
    }

    .footer {
      font-size: 20px;
    }
  }

}
