<div class="wrapper lato">
  <div>
    <img src="assets/icon-sad.png"/>
    <p>Something went wrong!</p>
    <ul>
      <li>
        <p><a class="yellow" href="javascript:history.go(-1)">Try again</a></p>
      </li>
      <li>
        <p>Read about <a class="yellow" target="_blank" rel="noopener nofollow" href="https://help.keydonix.com/articles/27730-why-did-my-transaction-fail">common causes</a></p>
      </li>
      <li>
        <p><a class="yellow" target="_blank" rel="noopener nofollow" href="https://help.keydonix.com/contact">Contact a human</a></p>
      </li>
    </ul>
  </div>
  <div class="padding-top roboto footer">Have questions? <a class="yellow" target="_blank" rel="noopener nofollow" href="https://help.keydonix.com">Get answers</a></div>
</div>
