<div class="wrapper lato">
  <div class="success">
    <img src="assets/succesfull.png"/>
    <p class="header"><span class="nobreak">You are now</span> leveraged!</p>
    <div style="display: flex">
      <ul>
        <li>
          <p>View your <a class="yellow nobreak" target="_blank" rel="noopener nofollow" href="https://mkr.tools/cdp/{{cdpId}}">position</a></p>
        </li>
        <li>
          <p>Create <a class="yellow nobreak" href="javascript:history.go(-1)">another position</a></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer padding-top roboto">Have questions? <a class="yellow nobreak" target="_blank" rel="noopener nofollow" href="https://help.keydonix.com">Get answers</a></div>
</div>
