.wrapper {
  margin-top: 200px;
  img {
    margin-bottom: 35px;
  }
  .success {
    margin-bottom: 120px;
    .heading {
      font-size: 48px;
      margin: 0px;
      margin-bottom: 28px;
    }
    ul {
      margin: auto;
      width: fit-content;
      li {
        width: fit-content;
        p {
          width: auto;
          text-align: left;
          font-size: 32px;
          margin: 0px;
        }
      }
    }
  }
  .footer {
    margin-bottom: 60px;
    font-size: 20px;
    .yellow {
      font-size: 20px;
    }
  }
}


@media only screen and (max-width: 500px) {

  .wrapper {
    margin-top: 70px;
    div {
      margin-bottom: 48px;
      p {
        font-size: 27px;
        margin-bottom: 26px;
      }
      p + p {
        font-size: 18px;
        font-weight: 100;
      }
    }
    div + div {
      margin-bottom: 108px;
      p {
        font-size: 15px;
        margin-bottom: 8px;
        font-weight: 100;
      }
      .yellow {
        font-size: 27px;
      }
    }
    div + div + div {
      margin-bottom: 20px;
      .yellow {
        font-size: 20px;
      }
    }
  }

}
