.range-wrapper {
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, rgba(63, 147, 29, 1) 0%, rgba(119, 133, 46, 1) 25%, rgba(181, 115, 66, 1) 51%, rgba(253, 94, 89, 1) 100%);
  border-radius: 4px;
  height: 20px;

  .material-icons {
    font-size: 15px;
    padding-left: 2px;
    padding-right: 3px;
  }

  input[type=range] {
    -webkit-appearance: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    flex-grow: 1;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: none;
  }
  input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: none;
  }
  input[type=range]::-ms-track {
    height: 100%;
    background: none;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    height: 100%;
    background: none;
  }
  input[type=range]::-ms-fill-lower {
    height: 100%;
    background: none;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: -webkit-grab;
    height: 20px;
    background-color: #ffffff;
    width: 4px;
  }
  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    cursor: -moz-grab;
    height: 20px;
    background-color: #ffffff;
    width: 4px;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0 1px 1px rgba(50, 50, 50, 0.91), 1px 0 1px rgba(50, 50, 50, 0.91);
    border: none;
    // FIXME: figure out how to make Edge work with 100% height instead of hard-coded 36px
    height: 36px;
    width: 8px;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range].hide-thumb::-webkit-slider-thumb {
    display: hidden;
  }
  input[type=range].hide-thumb::-moz-range-thumb {
    display: hidden;
  }
}

.values {
  width: 100%;
  height: 34px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 9px;
  margin-bottom: 20px;
  text-align: center;

  .last {
    border-right: none
  }
  span {
    color: #4f95e5;
    border-right: 2px solid #00385a;
    width: 019%;
    height: 100%;
    padding: 2px 0;
    display: inline-block;
    font-size: 24px;
    line-height: 32px;
  }
}

.tooltip {
  bottom: 65px;
  i {
    left: calc(100% - 17px);
  }
}

@media only screen and (max-width: 500px) {
  .values {
    span {
      padding-top: 0;
      font-size: 21px;
    }
  }
}
